# Discord Bot Configuration
DISCORD_TOKEN=your_discord_token_here
DISCORD_CLIENT_ID=your_discord_client_id_here
DISCORD_GUILD_ID=your_discord_guild_id_here
DISCORD_STATUS=your_status_here
DISCORD_PLAYING=

# Database Configuration
DB_HOST=your_db_host_here
DB_ID=your_db_username_here
DB_PASSWORD=your_db_password_here
DB_DATABASE=your_db_database_here

# API Keys
PAPAGO_CLIENT_ID=your_papago_client_id_here
PAPAGO_CLIENT_SECRET=your_papago_client_secret_here
PAPAGO2_CLIENT_ID=your_papago2_client_id_here
PAPAGO2_CLIENT_SECRET=your_papago2_client_secret_here
COINMARKETCAP_API_KEY=your_coinmarketcap_api_key_here
OPENAI_ORGANIZATION=your_openai_organization_here
OPENAI_API_KEY=your_openai_api_key_here

# Chat Configuration
CHAT_SYSTEM=your_chat_system_prompt_here
CHAT_ASSISTANT=your_chat_assistant_prompt_here

# Channel Configuration
CHANNEL_TWEET=
CHANNEL_TWEET1=your_channel_tweet1_here

# Voice Nickname Configuration
VOICE_NICKNAME_1_ID=your_voice_nickname_1_id_here
VOICE_NICKNAME_1_ON=your_voice_nickname_1_on_here
VOICE_NICKNAME_1_OFF=your_voice_nickname_1_off_here
VOICE_NICKNAME_2_ID=your_voice_nickname_2_id_here
VOICE_NICKNAME_2_ON=your_voice_nickname_2_on_here
VOICE_NICKNAME_2_OFF=your_voice_nickname_2_off_here
VOICE_NICKNAME_3_ID=your_voice_nickname_3_id_here
VOICE_NICKNAME_3_ON=your_voice_nickname_3_on_here
VOICE_NICKNAME_3_OFF=your_voice_nickname_3_off_here

# Twitter Configuration
TWITTER_API_KEY=your_twitter_api_key_here
TWITTER_API_SECRET=your_twitter_api_secret_here
TWITTER2_ACCESS_TOKEN=your_twitter2_access_token_here
TWITTER2_ACCESS_SECRET=your_twitter2_access_secret_here
