# compiled output
/dist
/node_modules
/build

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db
Desktop.ini

# Tests
/coverage
/.nyc_output

# General Dot-Folders (Ignore all folders starting with .)
.*/
!.github

# Markdown files
*.md
!README.md
!LICENSE.md
!LICENSE

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# AdminJS generated bundle
legacy*
/data