html 
  head 
    title 에케 뉴스 모니터링
  body 
    <iframe width="45%" height="50%" src="https://www.youtube.com/embed/kSH24jT2w5Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="45%" height="50%" src="https://www.youtube.com/embed/6iy77uceunk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="45%" height="50%" src="https://www.youtube.com/embed/v_QPHkC4GWk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <iframe width="45%" height="50%" src="https://www.youtube.com/embed/iFxOqnmNvPk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>